@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif !important;
    color: #fff;
    font-weight: 600 !important;
}

nav a {
    color: #fff;
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-size: 14px;
    letter-spacing: .5px;
    transition: all .3s;
}

nav a.active {
    color: #dd4ffc;
}

nav a:hover {
    color: #dd4ffc;
    transition: all .3s;
}

button.button-rounded {
    border-radius: 30px !important;
    transition: .3s;
    background: linear-gradient(-30deg, #6058f9 0%, #dd4ffc 100%);
    border: unset !important;
    padding: 5px 25px !important;
}

#main {
    background: url("../img/home-bg.png") no-repeat top left;
    background-size: cover;
    height: 100vh;
}

button.button-rounded:hover {
    background-size: 160% auto;
    transition: .3s;
}

.inscription h1 {
    padding: 4%;
    font-weight: 700;
    color: #fff;
    margin-top: 15%;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 900 !important;
}

.subtext {
    padding: 5%;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.image-main {
    max-width: 330px;
}

button.google-store {
    border-radius: 30px !important;
    transition: .3s;
    background: linear-gradient(-30deg, #6058f9 0%, #dd4ffc 100%);
    border: unset !important;
    padding: 10px 25px !important;
}

button.apple-store {
    border-radius: 30px !important;
    transition: .3s;
    background-image: linear-gradient(-90deg, #0985f9 0%, #6809dc 100%);
    border: unset !important;
    padding: 10px 25px !important;
}

.two-iphone {
    position: absolute;
    display: block;
    margin: 50px;
    padding: 10%;
    width: auto;
    height: 550px;
}

.content1 {
    font-weight: 600;
    background-image: -webkit-gradient(linear, right top, left top, from(#0985f9), to(#6809dc));
    background-image: linear-gradient(-90deg, #0985f9 0%, #6809dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    margin: 0 0 5px;
}
